
/* CSS를 활용한 레이아웃 및 UI 디자인 */
body{
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}
/* float 이슈를 해결하기 위한 CSS 코드 */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/* 레이아웃 */
.container{
  background-color: #aaa;
  height: 100vh;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background-color: yellow;
  height: 10vh;
}
/* 비주얼 */
.visual{
  background-color: orange;
  height: 10vh;
}
/* 메인 */
.main{
  background-color: blue;
  /* height: 60vh; */
  /* overflow: hidden; */
}
.main div{
  height: 100px;
}
.group1{
  background-color: yellow;
  width: 250px;
  float: left;
  position: relative;
  left: -50px;
}
.group2{
  background-color: teal;
  width: 380px;
  float: left;
}
.group3{
  background-color: pink;
  width: 190px;
  float: left;
}

/* 슬로건 */
.slogan{
  background-color: lime;
  height: 10vh;
  margin-top: 50px;
}
/* 푸터 */
.footer-bg{
  background-color: purple;
}
.footer{
  background-color: pink;
  height: 10vh;
}